# FastAPI
fastapi
#uvicorn

################################

# Adversarial Robustness Toolbox
adversarial-robustness-toolbox

################################

# ML Libreries
#torch
tensorflow

# If you need Cuda GPU
#tensorflow[and-cuda]

################################

# Support Libraries
aiofiles
matplotlib
opencv-python

################################
